<%= render 'layouts/header' %>
          

        <div class="inner-cover">
            <h1 class="cover-heading">You Know What You Want.<br>  
            We Can Help You Find It.</h1>
            <p class="lead">HomeProMARKET is a Better Way to Find Professionals and Products for Your Home Projects.</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default">Learn more</a>
            </p>
        
      

          <div class="mastfoot" align="center">
            
         
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            
          </div>
        </div>
      </div>
    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </body>
</html>