// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#project_countertops_attributes_0_countertype_id {
	display: block !important;
}

body.dashboard {
	background-color: #ffffff;
	background-image: none;
}

body.dashboard h1 {
	color: #000000;
}